* {
  margin: 0;
  padding: 0;
}

body {
  background: #222;
  color: #fff;
  /* padding: 10px; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: #000000;
  border-bottom: 2px solid #2c2c2c;
  padding: 20px 50px;
}

header a {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #cb2222;
}

a:hover {
  text-decoration: underline;
}

.container {
  padding: 50px;
}

.post {
  border: 2px solid whitesmoke;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 15px;
}

.post h3 {
  margin-bottom: 15px;
}

.post p {
  margin-bottom: 15px;
}